* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.logo {
    cursor: pointer;
    color: white;
    font-style: oblique;
    font-size: 30px;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: black;
    margin: 20px 20px 40px 15px;
}


.navlinks {
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0 20px;

}

.navlinks li a {
    transition: all 0.3s ease 0s;
    color: white;
    text-decoration: none;

}

.navlinks li a:hover {
    color: #0088a9;
}
#input {
    padding: 7px;
    font-size: 16px;
    
}
#input i{
    padding: 7px;
    font-size: 16px;
    color: red;
    
}
.search a{
    display: flex;
    text-decoration: none; 
    

}


     