* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.logo {
    cursor: pointer;
    color: white;
    font-style: oblique;
    font-size: 30px;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: black;
    margin: 20px 20px 40px 15px;
}


.navlinks {
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0 20px;

}

.navlinks li a {
    transition: all 0.3s ease 0s;
    color: white;
    text-decoration: none;

}

.navlinks li a:hover {
    color: #0088a9;
}

#input {
    padding: 7px;
    font-size: 16px;

}

.material-symbols-outlined {
    color: red;
}


.search a {
    display: flex;
    text-decoration: none;


}

.search button {
    padding: 8px;
    font-size: 16px;
    color: white;
    background-color: #ED661F;

}
.item-sections h2{
    margin-left: 15px;
    color: blue;
}

.items1 .imej img{
    width: 355px;
    height: 430px;
    margin: 0;
    padding: 0;
    
}

.items1 {
    display: flex;
    gap: 130px;
    margin: 20px 20px 40px 10px;
}

  .details{
    line-height: 30px;
  }


#buy-button{
    padding: 6px 12px 6px 12px;
    font-size: 16px;
    color: white;
    background-color: #ED661F;
    /* float: right; */
    top: 160%;

}