* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.logo {
    cursor: pointer;
    color: white;
    font-style: oblique;
    font-size: 30px;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: black;  
    margin: 20px 20px 40px 15px;
}


.navlinks {
    list-style: none;
}
.navlinks i{
    color: white;
   font-size: 50px;
}
.navlinks li {
    display: inline-block;
    padding: 0 20px;

}

.navlinks li a {
    transition: all 0.3s ease 0s;
    color: white;
    text-decoration: none;

}

.navlinks li a:hover {
    color: #0088a9;
}

#input {
    padding: 7px;
    font-size: 16px;

}

.material-symbols-outlined {
    color: red;
}


.search a {
    display: flex;
    text-decoration: none;


}

.search button {
    padding: 8px;
    font-size: 16px;
    color: white;
    background-color: #ED661F;

}
.item-sections h2{
    margin-left: 15px;
    color: blue;
}

.items1 .imej img{
    width: 355px;
    height: 430px;
    margin: 0;
    padding: 0;
    
}

.items1 {
    display: flex;
    gap: 130px;
    margin: 20px 20px 40px 10px;
}

  .details{
    line-height: 30px;
  }


  .size-selection{
    font-size: 26px;
    text-transform: uppercase;
    margin: 20px 0 10px;
    font-weight: 300;
}

.size-radio-btn{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    border: 1px solid #383838;
    border-radius: 50%;
    margin: 5px;
    margin-left: 0;
    line-height: 40px;
    text-transform: uppercase;
    color:  #383838;
    cursor: pointer;
}

.size-radio-btn.check{
    background:  #ED661F;
    color: #fff;
}

.btn{
    width: 44%;
    padding: 14px;
    border-radius: 5px;
    background: none;
    border: 1px solid #383838;
    color: #383838;
    font-size: 15x  px;
    cursor: pointer;
    margin: 20px 0;
    text-transform: capitalize;
}

.cart-btn{
    margin-right: 2%;
    background:  #ED661F;
    color: #fff;
}